<style>
  a {
    color: black;
    text-decoration: none;
  }

  .restaurantContainer {
    display: flex;
    padding: 10px 0;
  }

  .restaurantImg {
    width: 170px;
    height: 170px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #89d83f;
    border-radius: 10px;
  }

  .restaurantInfo {
    padding: 0 5px 0 5px;
    width: 100%;
  }

  .restaurantInfo > div:first-child {
    display: flex;
    justify-content: space-between;
  }

  .restaurantInfo > div:last-child > * {
    display: inline-block;
  }

  .restaurantInfo h3 {
    font-size: 1.2rem;
  }

  .restaurantInfo .address {
    font-size: 0.7rem;
  }

  .heart {
    width: 23px;
    height: 25px;
  }

  .rating {
    width: 15px;
    height: 15px;
  }

  .comment {
    width: 18px;
    height: 18px;
  }

  .restaurantInfo > div p {
    font-size: 0.8rem;
    transform: translateY(2px);
  }

  .restaurantBtn {
    width: 100%;
    height: 27px;
    text-align: center;
    font-size: 0.9rem;
    border: 2px solid #89d83f;
    border-radius: 25px;

    &:hover {
      background-color: #e0f0d1;
    }
  }

  @media (max-width: 768px) {
    .restaurantContainer {
      width: 75vw;
    }

    .restaurantInfo {
      width: 100%;
    }
  }

  @media (max-width: 430px) {
    .restaurantImg {
      width: 120px;
      height: 120px;
    }

    .restaurantInfo h3 {
      font-size: 1rem;
      margin: 0;
    }

    .heart {
      width: 20px;
      height: 22px;
    }

    .address,
    .type {
      margin-bottom: 5px;
    }

    .restaurantInfo > div:nth-child(4) {
      margin-top: 5px;
    }

    .restaurantBtn {
      padding: 0 5px;
      overflow: hidden;
      transform: translateY(-10px);
    }
  }
</style>

<article
  class="restaurantContainer"
  data-id="<%= restaurant.restaurant_address %>"
>
  <% if (restaurant.RestaurantImages && restaurant.RestaurantImages.length > 0)
  { %>
  <img
    src="<%= restaurant.RestaurantImages[0].restaurant_image_url %>"
    alt="<%= restaurant.restaurant_name %>"
    class="restaurantImg"
  />
  <% } else { %>
  <img
    src="../static/img/commingsoon.jpg"
    alt="이미지 준비중"
    class="restaurantImg"
  />
  <% } %>
  <div class="restaurantInfo">
    <div>
      <h3 class="restaurantName"><%= restaurant.restaurant_name %></h3>
      <img
        src="<% if (restaurant.Users && restaurant.Users.length === 0) { %> /static/img/heart.png <% } else { %> /static/img/heartFilled.png <% } %>"
        alt="찜 아이콘"
        class="heart"
        id="<%= restaurant.restaurant_id %>"
      />
    </div>
    <p class="address">
      <%= (restaurant.restaurant_address && restaurant.restaurant_address) ?
      restaurant.restaurant_address : '식당 주소 없음' %> <%=
      restaurant.restaurant_address %>
    </p>
    <p class="type">
      <%= (restaurant.restaurant_type_id && restaurant.restaurant_type_id) ?
      restaurant.restaurant_type_id : '식당 타입 없음' %>
    </p>

    <div>
      <img src="/static/img/star.png" alt="평점 아이콘" class="rating" />
      <p class="rate"><%= restaurant.rating %></p>
      <img
        src="/static/img/speechBalloon.png"
        alt="댓글 아이콘"
        class="comment"
      />
      <p class="review"><%= restaurant.reviews_count %></p>
      <a
        href="/restaurant/<%= restaurant.restaurant_id %>"
        class="restaurantBtn"
      >
        <%= restaurant.restaurant_name %> 페이지
      </a>
    </div>
  </div>
</article>
