<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 식당 상세페이지</title>
    <link rel="stylesheet" href="/static/css/restaurantDetail.css" />
    <script defer src="/static/js/restaurantDetail.js"></script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap"
    ></script>
  </head>
  <body>
    <%- include('../common/header.ejs') %>
    <main class="container col-lg-8 col-md-9 col-sm-10">
      <div class="restaurantComponent">
        <article
          class="restaurantContainer"
          data-id="<%= restaurant.restaurant_address %>"
        >
          <% if (restaurant.RestaurantImages &&
          restaurant.RestaurantImages.length > 0) { %>
          <img
            src="<%= restaurant.RestaurantImages[0].restaurant_image_url %>"
            alt="<%= restaurant.restaurant_name %>"
            class="restaurantImg"
          />
          <% } else { %>
          <img
            src="../static/img/commingsoon.jpg"
            alt="이미지 준비중"
            class="restaurantImg"
          />
          <% } %>
          <div class="restaurantInfo">
            <div>
              <h3 class="restaurantName"><%= restaurant.restaurant_name %></h3>
              <% if(userInfo && restaurant.Users.length > 0) { imgSrc =
              "/static/img/heartFilled.png"; } else {imgSrc =
              "/static/img/heart.png";}%>
              <img src="<%= imgSrc %>" alt="찜 아이콘" class="heart" />
            </div>
            <p class="address">
              <%= (restaurant.restaurant_address &&
              restaurant.restaurant_address) ? restaurant.restaurant_address :
              '식당 주소 없음' %> <%= restaurant.restaurant_address %>
            </p>
            <p class="type">
              <%= (restaurant.restaurant_type.restaurant_type &&
              restaurant.restaurant_type.restaurant_type) ?
              restaurant.restaurant_type.restaurant_type : '식당 타입 없음' %>
            </p>

            <div>
              <img
                src="/static/img/star.png"
                alt="평점 아이콘"
                class="rating"
              />
              <p class="rate"><%= restaurant.rating.toFixed(1); %></p>
              <img
                src="/static/img/speechBalloon.png"
                alt="댓글 아이콘"
                class="comment"
              />
              <p class="review"><%= restaurant.reviews_count %></p>
            </div>
            <section class="buttonContainer">
              <!-- <div class="tag"># <%- restaurant.restaurant_type_id%></div> -->
              <div class="button" id="callButton">
                <img
                  src="/static/img/phone-call.png"
                  alt="<%= restaurant.restaurant_phone %>"
                  class="callIcon"
                />전화하기
              </div>
              <div
                class="button"
                onclick="document.location='<%= restaurant.restaurant_naver %>'"
              >
                <img
                  src="/static/img/naver-logo.png"
                  alt="네이버 지도 길찾기"
                  class="naverIcon"
                />길찾기
              </div>
              <div
                class="button"
                onclick="document.location='<%= restaurant.restaurant_kakao %>'"
              >
                <img
                  src="/static/img/kakao-logo.png"
                  alt="카카오 지도 길찾기"
                  class="kakaoIcon"
                />길찾기
              </div>
            </section>
          </div>
        </article>
      </div>

      <nav class="sticky-top">
        <ul class="tabContart">
          <li class="tab1"><a href="#menu">대표메뉴</a></li>
          <li class="tab2"><a href="#review">후기</a></li>
          <li class="tab3"><a href="#mapTap">지도</a></li>
          <li class="tab4"><a href="#restaurantInfo">상세정보</a></li>
        </ul>
      </nav>

      <article>
        <section id="menu">
          <h3>대표메뉴</h3>
          <% if (restaurant.Menus && restaurant.Menus.length > 0) { %> <%
          restaurant.Menus.forEach(menu => { %>
          <div>
            <span><%= menu.menu_name %></span>
            <span><%= menu.menu_price.toLocaleString('en-US') %>원</span>
          </div>
          <% }) %> <% } else { %>
          <p>등록된 메뉴가 없습니다.</p>
          <% } %>
        </section>

        <section id="review">
          <div>
            <h3 class="noMargin">후기</h3>
            <button id="showReviewForm">후기 작성하기</button>
          </div>
          <form
            id="reviewForm"
            enctype="multipart/form-data"
            style="display: none"
          >
            <div class="inputRating">평점</div>
            <select id="ratingList" name="rating" required>
              <% for (let i = 5; i >= 0.5; i -= 0.5) { %>
              <option value="<%- i %>"><%- i %></option>
              <% } %>
            </select>
            <br />

            <textarea
              id="content"
              name="content"
              placeholder="후기"
              required
            ></textarea>
            <br />

            <label for="image">이미지 등록 </label>
            <input type="file" id="imageFiles" name="imageFiles" multiple />
            <input id="submitbtn" type="submit" value="후기 등록" />
          </form>
          <article class="renderReviews"></article>

          <% if (review.length >= 6) { %>
          <section class="pageBtn">
            <button id="prevPage">< 이전</button>
            <button id="nextPage">다음 ></button>
          </section>
          <% } %>
        </section>

        <section id="mapTap">
          <h3>지도</h3>
          <div id="map"></div>
        </section>

        <section id="restaurantInfo">
          <h3>상세정보</h3>
          <address>주소 : <%- restaurant.restaurant_address %></address>
          <div>
            전화번호 : <%= restaurant.restaurant_phone ?
            restaurant.restaurant_phone : '전화번호가 등록되어있지 않습니다.' %>
          </div>
        </section>
      </article>
    </main>

    <%- include('../common/footer.ejs') %> //
    <script>
      const restaurant = <%- JSON.stringify(restaurant) %>;
      const review = <%- JSON.stringify(review.reverse()) %>;
      <% if (userInfo) { %>
        const userInfo = JSON.parse('<%- JSON.stringify(userInfo) %>');
      <% } else { %>
       const userInfo = null;
      <% } %>
    </script>
  </body>
</html>
