<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 식당 상세페이지</title>
    <link rel="stylesheet" href="/static/css/restaurantDetail.css" />
    <script defer src="/static/js/restaurantDetail.js"></script>
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <main class="container col-lg-8 col-md-9 col-sm-10">
      <div class="restaurantComponent">
        <%- include('../common/restaurantComponent.ejs', { restaurant:
        restaurant }) %>
      </div>
      <section class="buttonContainer">
        <!-- <div class="tag"># <%- restaurant.restaurant_type_id%></div> -->
        <div class="button">
          <img
            src="../../static/img/phone-call.png"
            alt="전화하기"
            class="callIcon"
          />전화하기
        </div>
        <div class="button">
          <img
            src="../../static/img/naver-logo.png"
            alt="네이버 지도 길찾기"
            class="naverIcon"
          />길찾기
        </div>
        <div class="button">
          <img
            src="../../static/img/kakao-logo.png"
            alt="카카오 지도 길찾기"
            class="kakaoIcon"
          />길찾기
        </div>
      </section>
      <nav>
        <ul class="tap">
          <li>대표메뉴</li>
          <li>후기</li>
          <li>지도</li>
          <li>상세정보</li>
        </ul>
      </nav>

      <article>
        <section class="menu">
          <h3>대표메뉴</h3>
          <figure>
            <img src="../../static/img/food.jpeg" alt="대표메뉴" />
            <div>
              <figcaption>로제 돈가스파게티</figcaption>
              <figcaption>15,000원</figcaption>
            </div>
          </figure>
          <figure>
            <img src="../../static/img/food.jpeg" alt="대표메뉴" />
            <div>
              <figcaption>로제 돈가스파게티</figcaption>
              <figcaption>15,000원</figcaption>
            </div>
          </figure>
          <figure>
            <img src="../../static/img/food.jpeg" alt="대표메뉴" />
            <div>
              <figcaption>로제 돈가스파게티</figcaption>
              <figcaption>15,000원</figcaption>
            </div>
          </figure>
        </section>

        <section class="review">
          <div>
            <h3>후기</h3>
            <button id="showReviewForm">후기 작성하기</button>
          </div>
          <form
            id="reviewForm"
            enctype="multipart/form-data"
            style="display: none"
          >
            <!-- <input
              type="text"
              id="title"
              name="title"
              placeholder="제목"
              required
            /> -->

            <div class="sorting">평점</div>
            <select id="ratingList" name="rating" required>
              <% for (let i = 5; i >= 0.5; i -= 0.5) { %>
              <option value="<%- i %>"><%- i %></option>
              <% } %>
            </select>
            <br />

            <textarea
              id="content"
              name="content"
              placeholder="후기"
              required
            ></textarea>
            <br />

            <label for="image">이미지 등록 </label>
            <input type="file" id="imageFiles" name="imageFiles" multiple />
            <br />

            <input id="submitbtn" type="submit" value="후기 등록" />
          </form>
          <article class="renderReviews">
            <% if (restaurant.Reviews.length > 0) { %> <%
            restaurant.Reviews.forEach(function(review) { %>
            <p>Rating: <%= review.rating %></p>
            <p><%= review.content %></p>
            <p>작성일 : <%= formatDate(review.updatedAt) %></p>
            <p><%= review.is_useful === false ? 0 : review.is_useful %></p>

            <% review.ReviewImages.forEach((image) => { %>
            <img src="<%= image.image_url %>" alt="Review Image" />
            <% }); %> <% }); %> <% } else { %>
            <p>후기가 없습니다.</p>
            <% } %>
          </article>
        </section>

        <section>
          <h3>지도</h3>
          <div id="map"><%- restaurant.restaurantAddress %></div>
        </section>

        <section>
          <h3>상세정보</h3>
          <address>주소 : <%- restaurant.restaurantAddress %></address>
          <div>전화번호 : <%- restaurant.restaurantPhone %></div>
          <div>종류 : <%- restaurant.restaurantStyle %></div>
        </section>
      </article>
    </main>

    <%- include('../common/footer.ejs') %>
  </body>
</html>
