<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./common/commonHead.ejs') %>
    <title>mainPage</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('./common/header.ejs') %>

    <!-- Menu Icons -->
    <div class="menuIcons">
      <!-- ... (생략) -->
    </div>
    <br />

    <!-- Popular Restaurants -->
    <div class="restaurants">
      <h3>인기식당</h3>
      <button class="slide-btn prev">&lt;</button>
      <div class="slide-container">
        <div class="cardMenu">
          <% popularRestaurants.forEach(function(restaurant) { %>
          <div class="card-container">
            <div class="card">
              <img
                src="<%= restaurant.image_url %>"
                alt="<%= restaurant.restaurant_name %>"
              />
              <p class="restaurantName"><%= restaurant.restaurant_name %></p>
              <div class="categoryRating">
                <p class="category"><%= restaurant.category %></p>
                <div class="ratingReview">
                  <p class="rating">
                    <img src="../static/img/rating.png" alt="Rating" /> <%=
                    restaurant.rating %>
                  </p>
                  <p class="review">
                    <img src="../static/img/speechBalloon.png" alt="Review" />
                    <%= restaurant.review_count %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <button class="slide-btn next">&gt;</button>
    </div>
    <br />

    <!-- New Restaurants -->
    <div class="restaurants">
      <h3>신규식당</h3>
      <button class="slide-btn prev">&lt;</button>
      <div class="slide-container">
        <div class="cardMenu">
          <% recentRestaurants.forEach(function(restaurant) { %>

          <div class="card-container">
            <div class="card">
              <img
                src="<%= restaurant.image_url %>"
                alt="<%= restaurant.restaurant_name %>"
              />
              <p class="restaurantName"><%= restaurant.restaurant_name %></p>
              <div class="categoryRating">
                <p class="category"><%= restaurant.category %></p>
                <div class="ratingReview">
                  <p class="rating">
                    <img src="../static/img/rating.png" alt="Rating" /> <%=
                    restaurant.rating %>
                  </p>
                  <p class="review">
                    <img src="../static/img/speechBalloon.png" alt="Review" />
                    <%= restaurant.review_count %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <button class="slide-btn next">&gt;</button>
    </div>
    <br />

    <!-- User's Favorites (if log in) -->
    <div class="restaurants">
      <h3>찜한 식당</h3>
      <button class="slide-btn prev">&lt;</button>
      <div class="slide-container">
        <div class="cardMenu">
          <% userLikeRestaurants.forEach(function(restaurant) { %>

          <div class="card-container">
            <div class="card">
              <img
                src="<%= restaurant.image_url %>"
                alt="<%= restaurant.restaurant_name %>"
              />
              <p class="restaurantName"><%= restaurant.restaurant_name %></p>
              <div class="categoryRating">
                <p class="category"><%= restaurant.category %></p>
                <div class="ratingReview">
                  <p class="rating">
                    <img src="../static/img/rating.png" alt="Rating" /> <%=
                    restaurant.rating %>
                  </p>
                  <p class="review">
                    <img src="../static/img/speechBalloon.png" alt="Review" />
                    <%= restaurant.review_count %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <button class="slide-btn next">&gt;</button>
    </div>
    <br />

    <!-- Footer -->
    <%- include('./common/footer.ejs') %>
  </body>
</html>
