<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 식당 목록</title>
    <link rel="stylesheet" href="/static/css/restaurantList.css" />
    <script defer src="/static/js/restaurantList.js"></script>
  </head>
  <body>
    <%- include('../common/header.ejs') %>
    <main class="container-fluid itemContainer">
      <div class="row">
        <section class="map col-lg-7 col-md-7">지도</section>
        <section class="restaurantList col-lg-5 col-md-5" >
            <img src="../../static/img/hamburger.png" alt="" class="hamburgerIcon">
          <section class="search" id="up">
            <div class="searchName clicked">매장, 메뉴명 검색</div>
            <div class="searchType">카테고리, 태그 검색</div>
            <div class="formContainer">
            <form id="searchNameMenu">
              <div>
              <input type="radio" name="search" id="allRestaurants1" checked>
              <label for="allRestaurants1">모든 식당</label>
              <input type="radio" name="search" id="name">
              <label for="name">매장명 검색</label>
              <input type="radio" name="search" id="menu">
              <label for="menu">메뉴명 검색</label>
            </div>
            <div>
              <input type="text" id="searchInput" placeholder="매장명 검색" />
              <button type="submit">검색</button>
            </div>
          </div>
          <div class="tagNcategory searchInvisible">
              <input type="radio" name="search" id="allRestaurants2">
              <label for="allRestaurants2">모든 식당</label>
              <input type="radio" name="search" id="category">
              <label for="category">카테고리 검색</label>
              <input type="radio" name="search" id="tag">
              <label for="tag">태그 검색</label>
            </form>
            <div class="categoryContainer">
              <section class="more">
                <input type="radio" name="style" id="korean">
                <label for="korean">한식</label>
                <input type="radio" name="style" id="chinese">
                <label for="chinese">중식</label>
                <input type="radio" name="style" id="street">
                <label for="street">분식</label>
                <input type="radio" name="style" id="japanese">
                <label for="japanese">일식</label>
                <input type="radio" name="style" id="western">
                <label for="western">양식</label>
                <input type="radio" name="style" id="pub">
                <label for="pub">펍</label>
                <input type="radio" name="style" id="chicken">
                <label for="chicken">치킨</label>
                <input type="radio" name="style" id="pork">
                <label for="pork">족발, 보쌈</label>
                <input type="radio" name="style" id="cafe">
                <label for="cafe">카페</label>
                <input type="radio" name="style" id="meat">
                <label for="meat">고기구이</label>
                <input type="radio" name="style" id="asian">
                <label for="asian">아시안</label>
                <input type="radio" name="style" id="dessert">
                <label for="dessert">디저트</label>
                <input type="radio" name="style" id="fast">
                <label for="fast">패스트푸드</label>
                <input type="radio" name="style" id="convenience">
                <label for="convenience">편의점</label>
              </section>
              <div class="categoryMore">더보기</div>
            </div>
          <div class="tagContainer invisible">
            <section class="more tags">
              <div class="tag" id="romantic"># 로맨틱한</div>
              <div class="tag" id="family"># 가족이 오기 좋은</div>
              <div class="tag" id="cozy"># 편안한</div> 
              <div class="tag" id="inexpensive"># 가성비 좋은</div>
              <div class="tag" id="upscale"># 값비싼</div>
              <div class="tag" id="date"># 데이트하기 좋은</div> 
              <div class="tag" id="kind"># 친절한</div>
              <div class="tag" id="parking"># 주차가 편한</div>
              <div class="tag" id="company"># 회식하기 좋은</div> 
            </section>
            <div class="tagsMore">더보기</div>
          </div>
          <button class="tagNcategoryBtn">검색</button>
        </div>
          </section>
          <section class="result">
            <div>
              <p class="totalRestaurants">개의 매장</p>
              <div class="sortContainer">
                <img src="../../static/img/sorting.png" alt="정렬 아이콘" />
                <section class="sort">
                  <article class="sortArticle">
                    <div class="sorting">인기순</div>
                    <ul class="sortType">
                      <li class="sortingMethod active">인기순</li>
                      <li class="sortingMethod">평점순</li>
                      <li class="sortingMethod">최신등록순</li>
                    </ul>
                  </article>
                </section>
              </div>
            </div>
            
            <div class="allRestaurantContainer">
              <div class="restaurants">
          </div>
            <div class="pagination" id="pagination-container">
              <a href="#" id="prevPage" onclick="changePage(currentPage - 1)">&laquo;</a>
              <a href="#" id="nextPage" onclick="changePage(currentPage + 1)">&raquo;</a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- <%- include('../common/footer.ejs') %> -->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "<%= googleMapsApiKey %>",
        v: "weekly",
      });
      <% if (userInfo) { %>
        const userInfo = JSON.parse('<%- JSON.stringify(userInfo) %>');
      <% } else { %>
       const userInfo = null;
      <% } %>
    </script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap"></script> -->
  </body>
</html>