<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../common/commonHead.ejs') %>
    <title>MealSac | 식당 목록</title>
    <link rel="stylesheet" href="/static/css/restaurantList.css" />
    <script defer src="/static/js/restaurantList.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap"></script>
  </head>
  <body>
    <%- include('../common/header.ejs') %>
    <main class="container-fluid itemContainer">
      <div class="row">
        <section class="map col-lg-7 col-md-7 col-sm-6">지도</section>
        <section class="restaurantList col-lg-5 col-md-5 col-sm-6">
            <img src="../../static/images/hamburger.png" alt="" class="hamburgerIcon">
          <section class="search">
            <form action="/" method="get">
              <input type="text" placeholder="매장명" />
              <button>검색</button>
            </form>
            <section class="tags">
              <!-- 필터 아이콘 -->
              <!-- <div class="filterIcon">
                <img src="../../static/images/filter.png" alt="필터 아이콘" />
              </div> -->
              <!-- <div class="tag tagActive"># 주변식당</div>
              <div class="tag"># 분위기 좋은</div>
              <div class="tag"># 가성비</div> -->
              <div class="tagRadio">
                <input type="radio" name="tag" id="tag1" class="tagRadioInput" checked>
                <label for="tag1" class="tag"># 주변식당</label>
                
                <input type="radio" name="tag" id="tag2" class="tagRadioInput">
                <label for="tag2" class="tag"># 분위기 좋은</label>
                
                <input type="radio" name="tag" id="tag3" class="tagRadioInput">
                <label for="tag3" class="tag"># 가성비</label>

                <input type="radio" name="tag" id="tag4" class="tagRadioInput">
                <label for="tag4" class="tag"># 가성비</label>

                <input type="radio" name="tag" id="tag5" class="tagRadioInput">
                <label for="tag5" class="tag"># 가성비</label>

                <input type="radio" name="tag" id="tag6" class="tagRadioInput">
                <label for="tag6" class="tag"># 가성비</label>
              </div>
            </section>
          </section>
          <section class="result">
            <div>
              <p>100개의 매장</p>
              <div class="sortContainer">
                <img src="../../static/images/sorting.png" alt="정렬 아이콘" />
                <section class="sort">
                  <article class="sortArticle">
                    <div class="sorting">거리순</div>
                    <ul class="sortType">
                      <li class="sortingMethod active">거리순</li>
                      <li class="sortingMethod">인기순</li>
                      <li class="sortingMethod">정확도순</li>
                    </ul>
                  </article>
                </section>
              </div>
            </div>
            <% restaurants.forEach((restaurant) => { %>
              <article class="restaurantContainer">
                <img src="../../static/images/food.jpeg" alt="<%= restaurant.restaurantName %> 이미지" class="restaurantImg" />
                <div class="restaurantInfo">
                  <div>
                    <h3 class="restaurantName"><%= restaurant.restaurantName %></h3>
                    <img src="../../static/images/heart.png" alt="찜 아이콘" class="heart" />
                  </div>
                  <p class="type"><%= restaurant.restaurantStyle %></p>
                  <p class="address"><%= restaurant.restaurantAddress %></p>
                  <div>
                    <img src="../../static/images/star.png" alt="평점 아이콘" class="rating" />
                    <p class="rate">4.5</p>
                    <img src="../../static/images/speech-bubble.png" alt="댓글 아이콘" class="comment" />
                    <p class="review">15</p>
                  </div>
                </div>
              </article>
            <% }); %>            
        </section>
      </div>
    </main>
    <%- include('../common/footer.ejs') %>
    <script>
      const restaurants = <%- JSON.stringify(restaurants) %>;
    </script>    
  </body>
</html>
